.Header{
  background-color:#f7f4f4;
  display:flex;
  align-items: center;
  justify-content:space-around;
}
#Header__image{
  width:15px;
  height:15px
}
.userImage{
border-radius:50% !important;
padding:2px!important;
border:1px solid black !important;
}
#Header__search{
  outline-width:0;
  padding:1vw;
  border:none;
  background:none;
}
.Header__icons{
  width:35%;
  display:flex;
  justify-content:space-around;
  align-items: center;
}
.header__searchbar{
  display:flex;justify-content:space-around;
  align-items:center;
  background-color:white;
border: 0.1px solid  grey
}
@media only screen and (max-width:736px){
  .header__searchbar,.Header__icons{
    display:none;
  }
  #Header__image{

    height:15vh;
    width:auto;
  }
}
